ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.678);
  display: flex;
  align-items: center;

  background-image: linear-gradient(
    to bottom,
    rgba(113, 116, 112, 0.5),
    transparent
  );
  justify-content: space-between; /* Mover los enlaces a la derecha */
  width: 100%;
}
.navbar-container {
  max-width: 100%;
}
ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #ffffff;
}

ul.navbar li a.active {
  background-color: #4caf50;
  color: white;
}

.navbar-image {
  margin-left: 27px; /*mover a la izquierda PARA el usuario es a la derecha*/
  height: 77px; /* Ajusta la imagen a la altura of the navbar */
}

.navbar-image img {
  height: 100%; /* Make the logo occupy the full height of the navbar */
}

.navbar-right {
  margin-left: auto;
}

.navbar-right li:not(:last-child) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.AI {
  width: 100%;
  height: 90vh;
  margin-bottom: 40px; /*Separar las secciones*/
  background: url("/web_Aprendices/img/AI.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.AI .container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.322);
  border-radius: 10px;
}
.AI a.btn.cta-btn {
  color: #fff;
  background-color: #4caf50;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.AI a.btn.cta-btn:hover {
  background-color: #d30415;
}
.sena {
  width: 100%;
  height: 100vh;
  margin-bottom: 30px; /*Separar las secciones*/
  background: url("/web_Aprendices/img/sena.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: none;
}

.sena .container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(165, 236, 151, 0.596);
  border-radius: 10px;
}

/* Add styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 8px;
  border: 1px solid #000000;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  background-color: #a7a5a5;
  padding: 8px;
  border: 1px solid #000000;
}

/* Add styles for the title */
#companeros {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sena .container {
  max-width: 600px;
  padding: 20px;
  background-color: rgba(203, 209, 203, 0.644);
  border-radius: 10px;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

.left-table {
  width: 45%;
}

.right-table {
  width: 45%;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  width: 48%;
}

.footer-left h3,
.footer-right h3 {
  color: #fff;
}

.footer-left p,
.footer-right ul {
  margin-top: 10px;
}

.footer-right ul {
  padding: 0;
  list-style: none;
}

.footer-right ul li {
  margin-bottom: 5px;
}

.footer-right ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  margin: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #3af800; /* Cambia el color de fondo predeterminado */
  transition: background-color 0.3s ease; /* Agrega una transición suave */
}
